<style>
    .swiper{
    display:flex;
    justify-content:center;
    width:80% !important;
    height:250px !important;
  }


</style>
<div class="swiper">
    <div class="swiper-wrapper">
        {%- for block in section.blocks -%}
            {% case block.type %}
                {% when 'image' %}
                    <div class="swiper-slide">
                        <img src="{{ block.settings.image | image_url: width:'250px' }}" alt="Image" class="image-with-text__image" width="250px" height="250px">
                    </div>
            {% endcase %}
        {%- endfor -%}
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-next-button"></div>
</div>


<script>
    var swiper = new Swiper(".swiper", {
        slidesPerView: 3,
        spaceBetween: 10,
        freeMode: true,
        loop: true,
        navigation: {
            nextEl: ".swiper-next-button",
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });
</script>



{% schema %}
  {
    "name": "Section name",
    "settings": [
    ],
     "blocks": [

        {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
     },
       
     ],
    "presets":[{
    "name":"Custom-Slideshow-2"
    }
  ]
  }
{% endschema %}